<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/styles.css"/>

  </head>
  <body>
    <!-- Side navigation -->
  <div class="sidenav">
    <div class="sidenav__div">
      <span >Budget</span>
      <table class="table__links">
        <tr>
          <td><a href="/" class="sidenav__link">My Budget</a></td>
          </tr>
          </table>
    </div>
    <div class="sidenav__div">
      <span >Accounts <a data-bs-toggle="modal" href="#modal-new-account" role="button" href="#"><i class="sidenav__icon bi bi-plus-circle" ></i></a> <a data-bs-toggle="modal" href="#modal-edit-accounts" role="button"href="#"><i class="sidenav__icon bi bi-pencil" ></i></a></span>
      <table class="table__links">
        {% for account in accounts %}
        <tr>
          <td><a href="/transactions/{{account.accountId}}" class="sidenav__link">{{account.accountName}}</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- Page content -->
  <div class="main container">
    {% block content %} {% endblock %}
  </div>

  <div class="modal fade" id="modal-new-account" tabindex="-1" aria-labelledby="new-account-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new-account-label">Create a New Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-new-account">
        <div class="modal-body">
          <table>
            <tr>
              <td><label for="new-account-type">Account Type:</label></td>
              <td><select name="new-account-type" id="new-account-type">
              <option value="NULL" selected></option>
              <option value="Checking">Checking</option>
              <option value="Saving">Saving</option>
            </select></td>
            </tr>
            <tr>
            <td><label for="new-account-name">Account Name:</label></td>
            <td><input type="text" name="new-account-name" value=""></td>
            </tr>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div></div>
  <div class="modal fade" id="modal-edit-accounts" tabindex="-1" aria-labelledby="edit-account-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit-account-label">Edit Existing Accounts</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
          <table>
            <tr>
              <th>Account Type</th>
              <th>Account Name</th>
            </tr>
            <tr>
              <td><select name="edit-account-type" id="edit-account-type">
              <option value="Checking" selected>Checking</option>
              <option value="Saving">Saving</option>
              <option value="Credit Card">Credit Card</option>
            </select></td>
            <td><input type="text" name="edit-account-name" value="Checking"></td>
            </tr>
            <tr>
              <td><select name="edit-account-type" id="edit-account-type2">
              <option value="Checking" >Checking</option>
              <option value="Saving" selected>Saving</option>
              <option value="Credit Card">Credit Card</option>
            </select></td>
            <td><input type="text" name="edit-account-name" value="Savings"></td>
            </tr>
            <tr>
              <td><select name="edit-account-type" id="edit-account-type2">
              <option value="Checking" >Checking</option>
              <option value="Saving" >Saving</option>
              <option value="Credit Card" selected>Credit Card</option>
            </select></td>
            <td><input type="text" name="edit-account-name" value="Visa"></td>
            </tr>
            </table>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div></div>

{% block customScript %} {% endblock %}
<script src="/static/generic.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
 </script>
  </body>
</html>
