{% extends 'base.html' %}
{% block content %}
    <div class="main__header row">
      <div class="col"><h1>{{account.accountName}}</h1></div>
      <div class="col col-lg-2">
        <i class="bi bi-patch-question-fill"></i>
      </div>
    </div>
    <div class="main__body row">
      <table class="table__transactions" name="table__main">
        <tr id="first-row">
          <th>Date</th>
          <th>Payee</th>
          <th>Bucket</th>
          <th>Notes</th>
          <th>Inflow<a href="#" class="tooltip-test main__link__icon" title="Amount of money that you have received."><i class="bi bi-patch-question-fill"></i></a></th>
          <th>Outflow <a href="#" class="tooltip-test main__link__icon" title="Amount of money that you have spent."><i class="bi bi-patch-question-fill"></i></a></th>
          <th>Cleared<a href="#" class="tooltip-test main__link__icon" title="When selected, indicates that the transaction has been completed."><i class="bi bi-patch-question-fill"></i></a></th>
          <th>Running Total</th>
        </tr>
        <tr>
          <form id="form-new-transaction">
          <td>
            <input type="date" name="transaction-date">
            </td>
            <td>
              <input type="text" name="payee">
              </td>
              <td>
                <select name="bucket-id" id="bucket-input">
                  {% for bucket in buckets %}
                  <option value={{bucket.bucketId}}>{{bucket.name}}</option>
                  {% endfor %}
                </select>
                </td>
                <td>
                  <input type="text" name="notes">
                </td>
                <td>
                  <input type="number" class="input__money"  min="0" step=".01" name="inflow">
                  </td>
                  <td>
                    <input type="number" class="input__money" min="0" step=".01" name="outflow">
                  </td>
                  <td>
                    <input type="checkbox" name="cleared">
                  </td>
                </form>
                <td>
                  <button type="button" onclick=NewTransaction({{account.accountId}})>Submit</button>
                </td>
            </tr>

            {% for row in transactions %}
            <tr name="table__normal__row">
              <td>{{row.transactionDate}}</td>
              <td>{{row.payee}}</td>
              <td>{{row.bucket}}</td>
              <td>{{row.notes}}</td>
              <td>{{row.inflow}}</td>
              <td>{{row.outflow}}</td>
              <td>
                <input type="checkbox" {% if row.cleared == 1 %}checked{% endif %} onClick="ToggleCleared({{row.transactionId}}, {{row.cleared}}, {{account.accountId}})">
              </td>
              <td>{{row.runningTotal}}</td>
              <td><a data-bs-toggle="modal" href="#modal-delete-confirmation" role="button" href="#" data-bs-modal-id="{{row.transactionId}}" data-bs-modal-account="{{account.accountId}}"><i class="edit__delete__icon bi bi-trash3-fill"></i></a></td>
            </tr>
            {% endfor %}
      </table>
      </div>
      <div id="div-edit-area"></div>

      <div class="modal fade" id="modal-delete-confirmation" tabindex="-1" aria-labelledby="delete-confirmation-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="delete-confirmation-label">Are you sure?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete this transaction? It cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" name="button-delete">Delete</button>
            </div>
          </div>
        </div>
      </div>

  {% endblock %}
{% block customScript %}<script src="../static/transactions.js"></script>{% endblock %}
